.SS_heading {
    padding: 10px;
    width: 100%;
    font-size: 22px;
  }
  
  .SS_main_container {
    display: flex;
    margin: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
  }
  